.card-delivery
	.remodal.card-delivery__block.payments__block(data-remodal-id="card-delivery")
		button.remodal-close.close-link(data-remodal-action="close")
		ul.card-delivery__list
			li.card-delivery__item Доставка от 2 до 7 дней
			li.card-delivery__item Вы можете самостоятельно забрать свой заказ в пункте самовывоза транспортной компании
			li.card-delivery__item Курьерская доставка
		span.card-delivery__title.payments__title Самовывоз из офиса в г. Челябинск
		p.card-delivery__text.payments__text Вы можете самостоятельно забрать свой заказ из офиса компании SUNRAY в городе Челябинск по адресу Автоматики 3 в будние дни с 9:00 до 18:00.
		span.card-delivery__title.payments__title Доставка транспортной компанией до пункта выдачи
		p.card-delivery__text.payments__text Компания SUNRAY осуществляет доставку заказов транспортной компанией СДЕК до пунктов самовывоза данной ТК в любой город России и стран СНГ (при условии, что в Вашем городе присутствует пункт выдачи ТК СДЕК).
		span.card-delivery__title.payments__title Курьерская доставка до двери
		p.card-delivery__text.payments__text Компания SUNRAY осуществляет курьерскую доставку заказов прямо до двери Вашего дома. (выделить) Обратите внимание, что курьер передает товар для проверки только после оплаты.