.card-tabs
	.container
		.card-tabs__controls
			.card-tabs__control.card-tabs__control--active Подробные характеристики
			.card-tabs__control Места использования
			.card-tabs__control Видеообзор
		.card-tabs__list
			.card-tabs__item.card-tabs__item--active
				.card-tabs__title Технические характеристики
				.card-tabs__row
					.card-tabs__subrow
						span.card-tabs__name Тип
						.card-tabs__dots
					span.card-tabs__info конвектор
				.card-tabs__row
					.card-tabs__subrow
						span.card-tabs__name Мощность обогрева
						.card-tabs__dots
					span.card-tabs__info 1750 Вт
				.card-tabs__row
					.card-tabs__subrow
						span.card-tabs__name Площадь обогрева
						.card-tabs__dots
					span.card-tabs__info 22 кв.м
				.card-tabs__title Функциональность
				.card-tabs__row
					.card-tabs__subrow
						span.card-tabs__name Термостат
						.card-tabs__dots
					span.card-tabs__info есть
				.card-tabs__row
					.card-tabs__subrow
						span.card-tabs__name Управление
						.card-tabs__dots
					span.card-tabs__info выключатель со световым индикатором, 2 режима мощности
				.card-tabs__row
					.card-tabs__subrow
						span.card-tabs__name Варианты монтажа
						.card-tabs__dots
					span.card-tabs__info настенный, напольный
				.card-tabs__title Особенности
				.card-tabs__row
					.card-tabs__subrow
						span.card-tabs__name Защитные функции
						.card-tabs__dots
					span.card-tabs__info защита от мороза, отключение при перегреве, влагозащитный корпус
				.card-tabs__row
					.card-tabs__subrow
						span.card-tabs__name Дополнительная информация
						.card-tabs__dots
					span.card-tabs__info ножки для напольной установки опционально
				.card-tabs__title Габариты и вес
				.card-tabs__row
					.card-tabs__subrow
						span.card-tabs__name Габариты (ШхВхТ)
						.card-tabs__dots
					span.card-tabs__info 66x44x8 см
				.card-tabs__row
					.card-tabs__subrow
						span.card-tabs__name Вес
						.card-tabs__dots
					span.card-tabs__info 6 кг
			.card-tabs__item
				p.card-tabs__info Текст для Места использования
			.card-tabs__item
				p.card-tabs__info Текст для Видеообзор или ссылка