.payments
	.remodal.payments__block(data-remodal-id="payments")
		button.remodal-close.close-link(data-remodal-action="close")
		span.payments__title.payments__title--first Для вашего удобства в нашем интернет-магазине предусмотрено несколько вариантов оплаты:
		span.payments__title Наличными
		p.payments__text Вы можете оплатить заказ наличными при самовывозе или при курьерской доставке. Курьер доставит вам товар по указанному адресу. Вы внимательно осматриваете комплектацию и внешний вид продукции, после чего оплачиваете ее стоимость.
		span.payments__title Банковской картой
		p.payments__text Для удобной оплаты банковской картой используется система электронных платежей PayKeeper. При оформлении заказа выберите способ оплаты с помощью банковской карты, после чего вы перейдете на страницу безопасного платежа.
		span.payments__title Банковский перевод
		p.payments__text Для осуществления платежа банковским переводом менеджер выставит счет с выбранными товарами и вышлет на вашу электронную почту. Данный способ оплаты по банковским реквизитам компании предусмотрен как для физических, так и для юридических лиц.
		span.payments__title Оплата биткоинами
		p.payments__text На нашем сайте также доступна возможность оплаты биткоинами.