.certificate
	h3.certificate__title Сертификаты и патенты
	.certificate__block
		.certificate__img
			.certificate__pic(data-remodal-target="certificate-1")
				.remodal(data-remodal-id="certificate-1")
					button.remodal-close(data-remodal-action="close")
					img(src="app/img/company/certificate__1.jpg")
				img(src="app/img/company/certificate__1.jpg")
			+icon('zoom')(data-remodal-target="certificate-1")
		.certificate__img
			.certificate__pic(data-remodal-target="certificate-2")
				.remodal(data-remodal-id="certificate-2")
					button.remodal-close(data-remodal-action="close")
					img(src="app/img/company/certificate__2.jpg")
				img(src="app/img/company/certificate__2.jpg")
			+icon('zoom')(data-remodal-target="certificate-2")