.check(id="#check")
	input.check__input(type="checkbox" name="check" id="check" required)
	label.check__label(for="check") Нажимая на кнопку «Отправить», я даю 
		span.check__link(data-remodal-target="politic") согласие на обработку персональных данных