.order-call
	.remodal.order-call__block(data-remodal-id="order-call")
		button.remodal-close.close-link(data-remodal-action="close")
		span.order-call__title Заказать звонок
		form.order-call__form
			.basket-form__row
				.basket-form__block
					label.basket-form__label(for="name") Имя и Фамилия
					input.basket-form__input(type="text" name="name" id="name" placeholder="Иван Иванов")
				.basket-form__block
					label.basket-form__label(for="phone") Номер телефона
					input.basket-form__input(type="text" name="phone" id="phone" placeholder="+7 (___) ___-__-__")
			include _check
			input.order-call__submit.js-check(type="submit" name="submit" id="submit" data-remodal-target="thanks-order")
	.remodal.order-call__block(data-remodal-id="thanks-order")
		button.remodal-close.close-link(data-remodal-action="close")
		span.order-call__title Спасибо!
		p.order-call__text Наш менеджер свяжется с Вами в самое ближайшее время