.politic
	.remodal.politic__block(data-remodal-id="politic")
		button.remodal-close.close-link(data-remodal-action="close")
		span.politic__title УСЛОВИЯ И СПОСОБЫ ОБРАБОТКИ И ХРАНЕНИЯ ПЕРСОНАЛЬНЫХ ДАННЫХ.
		p.politic__text Защита и целостность Ваших персональных данных очень важны для нас. По этой причине мы будем использовать Вашу информацию исключительно в соответствии с применимым законодательством.
		p.politic__text Мы собираем, обрабатываем и используем персональные данные, которые Вы предоставляете нам, исключительно с целью возможности оказания информационной поддержки.
		p.politic__text Предоставляя Ваши персональные данные компании ООО"Санрэй" для обработки (включая систематизацию; накопление; хранение; уточнение - обновление, изменение; использование; передачу (в том числе распространение, предоставление, доступ), обезличивание; блокирование; уничтожение; сбор; запись; накопление; извлечение; использование; удаление, а также автоматизированные и иные способы обработки), Вы выражаете согласие с тем, что указанная информация будет использоваться компанией ООО "Санрэй".
		p.politic__text Предоставляя Ваши персональные данные в соответствии с целями и условиями выше, Вы подтверждаете свое согласие на трансграничную передачу и распространение Ваших персональных данных и выражаете Ваше предварительное согласие на обработку персональных данных в целях, предусмотренных выше, в том числе для продвижения и совершенствования товаров и услуг ООО "Санрэй", путем прямых контактов с помощью средств связи. 
		p.politic__text Ваше согласие дается на неопределенный срок.