.card
	.card__breadcrumbs
		.container
			.breadcrumbs
				ul.breadcrumbs__list
					each val in ['Главная', 'Каталог отопления', 'Конвектор S702']
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#")= val
	.card__block
		.container
			.card__wrap
				.card__show.card__show--discont
					.card__display
						each val in [1,2,3,4,5,6,7,8,9,10]
							.card__img
								+icon('zoom')
								img.card__img--zoom(src="app/img/card/card__more/card__"+val+".jpg" alt="фото товара" data-remodal-target="cardZoom" + val)
					.card__more
						each val in [1,2,3,4,5,6,7,8,9,10]
							.card__img
								img(src="app/img/card/card__more/card__"+val+".jpg" alt="фото товара")
				.card__info
					span.card__name КОНВЕКТОР S702
					.card__price-row
						.card__cost-block
							span.card__cost--old Старая цена: 8600 руб.
							span.card__cost Цена: 7600 руб.
						.card__economy.economy
							span.economy__text экономия
							span.economy__sum 1000
					.card__basket-row
						.card__counter
							include ../common/_counter
						.card__btn.link--fill(data-remodal-target="basket-in")
							i.fa.fa-cart-arrow-down
							span.card__btn-text Добавить в корзину
					.card__paydel
						.card__payments(data-remodal-target="payments")
							+icon('credit-cards')
							span Оплата
						.card__delivery(data-remodal-target="card-delivery")
							+icon('delivery')
							span Доставка
					.card__descr
						ul.card__list
							each val in ['Мощность — 700 watt','Отапливаемая S — 15 м2','Корпус — белый металл','Панель — черное стекло']
								li.card__item= val
					.card__banks
						img(src="app/img/card.png" alt="Способы оплаты")
	.card__shot
		.container
			.card__shot-wrap
				span.card__shot-item 3
					.card__short-item--small года гарантии
				span.card__shot-item 3
					.card__short-item--small минуты нагрева до рабочей температуры
				span.card__shot-item 10м
					.card__shot-item--sup 2
					.card__short-item--small площадь обогрева
				span.card__shot-item 
					+icon('check')
					.card__short-item--small подходит как основное отопление
	include ../common/_card-zoom