.delivery
	.delivery__breadcrumbs
		.container
			.breadcrumbs
				ul.breadcrumbs__list
					each val in ['Главная', 'Доставка и оплата']
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#")= val
	.delivery__banner
		.container
			.delivery__wrap
				+icon('delivery')
				h1.delivery__title Доставка и оплата
	.delivery__content
		.container
			.delivery__dots
				.delivery__dot.delivery__dot--active
					+icon('truck')
					| Доставка
				.delivery__dot
					+icon('credit-card')
					| Оплата
			.delivery__list
				.delivery__item.delivery__item--active
					ul.delivery__roll
						li.delivery__roll-item Доставка от 2 до 7 дней
						li.delivery__roll-item Вы можете самостоятельно забрать свой заказ в пункте самовывоза транспортной компании
						li.delivery__roll-item Курьерская доставка
					.delivery__row
						.delivery__col
							+icon('car')
							span.delivery__subtitle Самовывоз из офиса 
								br
								| в г. Челябинск
							p.delivery__text Вы можете самостоятельно забрать свой заказ из офиса компании SUNRAY в городе Челябинск по адресу Автоматики 3 в будние дни с 9:00 до 18:00.
						.delivery__col
							+icon('gps')
							span.delivery__subtitle Доставка транспортной компанией до пункта выдачи
							p.delivery__text Компания SUNRAY осуществляет доставку заказов транспортной компанией СДЕК до пунктов самовывоза данной ТК в любой город России и стран СНГ (при условии, что в Вашем городе присутствует пункт выдачи ТК СДЕК).
						.delivery__col
							+icon('man')
							span.delivery__subtitle Курьерская доставка до двери
							p.delivery__text Компания SUNRAY осуществляет курьерскую доставку заказов прямо до двери Вашего дома. 
								b Обратите внимание, что курьер передает товар для проверки только после оплаты.
					.delivery__block
						+icon('return')
						span.delivery__subtitle Возврат
						p.delivery__text При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на соответствие сопроводительным документам и заказу. После осмотра и приема товара Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.
						p.delivery__text Гарантия не распространяется на повреждения товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.
						p.delivery__text Возврат и обмен товара – в течение 7 дней с момента покупки.
						p.delivery__text Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки.
				.delivery__item
					.delivery__subtitle--medium Для вашего удобства в нашем интернет-магазине предусмотрено несколько вариантов оплаты:
					.delivery__row--2
						.delivery__col--2
							+icon('money')
							span.delivery__subtitle Наличными
							p.delivery__text Вы можете оплатить заказ наличными при самовывозе или при курьерской доставке. Курьер доставит вам товар по указанному адресу. Вы внимательно осматриваете комплектацию и внешний вид продукции, после чего оплачиваете ее стоимость.
						.delivery__col--2
							+icon('credit-cards')
							span.delivery__subtitle Банковской картой
							p.delivery__text Для удобной оплаты банковской картой используется система электронных платежей PayKeeper. При оформлении заказа выберите способ оплаты с помощью банковской карты, после чего вы перейдете на страницу безопасного платежа.
						.delivery__col--2
							+icon('bank')
							span.delivery__subtitle Банковский перевод
							p.delivery__text Для осуществления платежа банковским переводом менеджер выставит счет с выбранными товарами и вышлет на вашу электронную почту. Данный способ оплаты по банковским реквизитам компании предусмотрен как для физических, так и для юридических лиц.
						.delivery__col--2
							+icon('bitcoin')
							span.delivery__subtitle Оплата биткоинами
							p.delivery__text На нашем сайте также доступна возможность оплаты биткоинами.
