.error
	.container
		.error__wrap
			a.error__link.link--fill(href="#") 
				i.fa.fa-arrow-left
				| Вернуться на главную
			.error__info
				span.error__num 404
				span.error__text Страница не найдена!