header.header.wow.fadeInDown
	.container
		.header__top
			a.header__logo(href="/")
				img.header__img(src="app/img/logo.png" alt="logo")
			.header__nav
				.header__btn
					span.header__btn-text Меню
					.header__btn-humburger
						span
				.header__list
					nav.menu
						ul.menu__list
							each val in ['Каталог обогревателей', 'Доставка и оплата','Сотрудничество' ]
								li.menu__item
									a.menu__link(href="#")= val
					.header__basket
						a.basket-block
							i.fa.fa-shopping-cart
							span.basket-block__text Корзина
							span.basket-block__count [5]
					.header__phone
						.phone
							a.phone__link(href="tel:+78007071850") 8-800-707-18-50
						.header__call.call
							a.call__link(href="#" data-remodal-target="order-call")
								i.fa.fa-phone
								| Заказать звонок
include ../common/_order-call