.montage
	.montage__breadcrumbs
		.container
			.breadcrumbs
				ul.breadcrumbs__list
					each val in ['Главная', 'Каталог отопления', 'Монтаж']
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#")= val
	.montage__banner
		.container
			.montage__wrap
				+icon('repair')
				h1.montage__title Монтаж
	section.montage__content
		.container
			p.montage__text.montage__text--mb Проектирование и монтаж электроотопления от квартиры или частного дома, до целых районов и крупных промышленных объектов. Перевод на электрическое отопление не увеличивая расчетной (существующей) мощности при помощи приоритетных реле промышленного и собственного изготовления и терморегуляторов.
			span.montage__subtitle В монтаж электроотопления входит:
			ul.montage__list.montage__list--mb
				li.montage__item Разработка проекта электроснабжения.
				li.montage__item Укрепление электропроводки для возросших нагрузок.
				li.montage__item Монтаж отопительных приборов и терморегуляторов.
				li.montage__item Пуско-наладка системы отопления для экономного обогрева.
				li.montage__item Расчёт стоимости. Стоимость рассчитывается
					span ИНДИВИДУАЛЬНО
			p.montage__text Ниже представлены типовые (стандартные) объекты обогрева, на которых чаще всего применяются различные системы электроотопления:
			ul.montage__list
				li.montage__item Дачи, коттеджи и квартиры;
				li.montage__item Коттеджные городки и поселки ИЖС;
				li.montage__item Гостиницы и рестораны;
				li.montage__item Офисные и торговые центры;
				li.montage__item Производственные помещения, промышленные предприятия и склады;
				li.montage__item Бассейны и Аквапарки;
				li.montage__item Школы, детские сады и другие социальные объекты.