.term
	.container
		h2.term__title 375 лет
		span.term__subtitle — именно через столько окупится газовое отопление
		span.term__descr это столько же, сколько лет Красноярску
.term__catalog
	.container
		span.term__text Перейдите в каталог к выбору обогревателя
		a.term__link.link--fill(href="#") Перейти в каталог