.call__link {
	color: white;
	font-family: $mediumFont;
	padding-bottom: 2px;
	border-bottom: 2px dotted $accentColor;
	@extend .trs;
	.fa {
		margin-right: 5px;
	}
	&:hover {
		border-bottom: 2px dotted transparent;
		color: $accentColor;
	}
	@media (max-width: 1200px) {
		font-size: 12px;
	}
	@media (max-width: 960px) {
		font-size: 14px;
	}
}