.phone__link {
	font-family: $mediumFont;
	font-size: 24px;
	color: white;
	@extend .trs;
	&:hover {
		color: $accentColor;
	}
	@media (max-width: 1200px) {
		font-size: 16px;
	}
	@media (max-width: 960px) {
		font-size: 18px;
	}
}

.phone--main {
	.phone__link {
		color: white;
		@extend .trs;
		&:hover {
			color: $accentColor;
		}
	}
}