.subscribe__banner {
	height: 389px;
	background: url(../img/subscribe.jpg) center top no-repeat;
	background-size: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 30px 25px;
	color: white;
	position: relative;
	span {
		display: block;
	}
}

.subscribe__subtitle {
	font-size: 18px;
	font-family: $boldFont;
	margin-bottom: 15px;
	text-transform: uppercase;
	@media(max-width: 960px) {
		font-size: 14px;
	}
}

.subscribe__title {
	font-size: 28px;
	text-transform: uppercase;
	font-family: $boldFont;
	line-height: 1.15;
	margin-bottom: 55px;
	@media(max-width: 960px) {
		font-size: 20px;
	}
}

.subscribe__title--big {
	font-size: 48px;
	text-transform: uppercase;
	font-family: $boldFont;
	margin-bottom: 15px;
	@media(max-width: 960px) {
		font-size: 36px;
	}
}

.subscribe__descr {
	font-size: 16px;
}

.subscribe__ball {
	background: linear-gradient(to bottom, #fd8100, #f94100);
	border-radius: 50%;
	box-shadow: 0px 0px 37px -3px #fd8100;
	width: 146px;
	height: 146px;
	text-align: center;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
	position: absolute;
	left: 35%;
	@include center('y');
	top: 60%;
	span {
		font-size: 16px;
	}
	@media(max-width: 960px) {
		left: 60%;
	}
	@media(max-width: 480px) {
		width: 100px;
		height: 100px;
		padding: 15px 0;
		span {
			font-size: 14px;
		}
	}
}

span.subscribe__ball-text {
	font-size: 36px;
	font-family: $blackFont;
	@media(max-width: 480px) {
		font-size: 28px;
	}
}

.subscribe__email {
	padding: 40px 100px 75px;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	@media(max-width: 700px) {
		padding: 20px 50px 50px;
	}
}

.subscribe__label {
	display: block;
	font-size: 16px;
	margin-bottom: 15px;
	@media (max-width: 960px) {
		font-size: 14px;
		margin-bottom: 10px;
	}
}

.subscribe__input {
	font-size: 16px;
	background: #EBEBEB;
	border-radius: 10px;
	padding: 20px;
	@media (max-width: 700px) {
		padding: 10px 20px;
		font-size: 14px;
	}
}

.subscribe__submit {
	position: absolute;
	cursor: pointer;
	@include center('x');
	top: 85%;
	font-size: 16px;
	width: 230px;
	text-align: center;
	justify-content: center;
	height: 50px;
	line-height: 44px;
}