// Переменные

$mainFont: "GothamPro-Regular", Arial, sans-serif;
$boldFont: "GothamPro-Bold", Arial, sans-serif;
$blackFont: "GothamPro-Black", Arial, sans-serif;
$mediumFont: "GothamPro-Medium", Arial, sans-serif;
$lightFont: "GothamPro-Light", Arial, sans-serif;


// Цвета

$accentColor: #f00b52;
$bgColor: #262626;