extends ../_template

block variables
  - var title = 'Каталог'
  - var url_js = "app/js/app.js"
  - var url_css = "app/css/app.css"

block content
  // Начало секции catalog
  include ../section/_catalog
  // Конец секции catalog