extends ../_template

block variables
  - var title = 'Сравнение'
  - var url_js = "app/js/app.js"
  - var url_css = "app/css/app.css"

block content
  // Начало секции compare
  include ../section/_compare
  // Конец секции compare
  // Начало секции term
  include ../section/_term
  // Конец секции term