extends ../_template

block variables
  - var title = 'Контакты'
  - var url_js = "app/js/app.js"
  - var url_css = "app/css/app.css"

block content
  // Начало секции contacts
  include ../section/_contacts
  // Конец секции contacts