extends ../_template

block variables
  - var title = 'Сотрудничество'
  - var url_js = "app/js/app.js"
  - var url_css = "app/css/app.css"

block content
  // Начало секции coop
  include ../section/_coop
  // Конец секции coop