extends ../_template

block variables
  - var title = 'Монтаж'
  - var url_js = "app/js/app.js"
  - var url_css = "app/css/app.css"

block content
  // Начало секции montage
  include ../section/_montage
  // Конец секции montage