extends ../_main

block variables
  - var title = 'Тест'
  - var url_js = "app/js/app.js"
  - var url_css = "app/css/app.css"

block content
  // Начало секции header
  include ../section/_header
  // Конец секции header
  // Начало секции test
  include ../section/_test
  // Конец секции test